<div class="col-md-6 mx-auto shadow p-3">
<form method="post" action="/cadastro">
    <fieldset>
        <legend>CADASTRO DE PRODUTOS</legend>
        <label for="">DESCRIÇÃO</label>
        <input name="descricao" type="text" class="form-control">
        <label for="">PREÇO</label>
        <input name="preco" type="text" class="form-control">
        <label for="">ESTOQUE</label>
        <input name="estoque" type="number" class="form-control">
        <button type="submit" class="btn btn-sucess mt-03">SALVAR</button>
    </fieldset>
</form>
</div>